/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    line-height: 1.75;
    background-color: #f4f7f9;
    color: #333;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    margin: 40px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: left;
    border-left: 8px solid #ff6b6b;
}

header {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

header img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    margin-right: 20px;
}

header .intro {
    max-width: 600px;
}

header h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #222;
    margin-bottom: 5px;
}

header h1 span {
    color: #ff6b6b;
}

header .subtitle {
    font-size: 1.1rem;
    color: #555;
    font-weight: 400;
    margin-bottom: 0;
}

.content p {
    margin-bottom: 20px;
    font-size: 1.3rem;
    color: #444;
    line-height: 1.8;
}

a {
    color: #0070f3;
    text-decoration: none;
    border-bottom: 1px solid #0070f3;
    font-weight: 500;
}

a:hover {
    color: #ff6b6b;
    border-bottom: 1px solid #ff6b6b;
}

footer {
    margin-top: 30px;
    text-align: center;
}

footer p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
}

footer a {
    color: #0070f3;
    text-decoration: none;
    border-bottom: 1px solid #0070f3;
    font-weight: 500;
}

footer a:hover {
    color: #ff6b6b;
    border-bottom: 1px solid #ff6b6b;
}

/* For responsive layout */
@media (max-width: 768px) {
    .container {
        margin: 20px;
        padding: 20px;
    }

    header h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    header img {
        width: 100px;
        height: 100px;
    }

    header .intro {
        max-width: 100%;
    }

    .content p {
        font-size: 1rem;
    }

    footer p {
        font-size: 0.9rem;
    }

    footer a {
        font-size: 1rem;
    }
}


.example-1 {
    margin-top: 5px;
    font-size: 0.8em;
    position: relative;
    top: -5px; /* Move text 2px upwards */
}

.example-2 {
    margin-left: 5px;
    font-size: 0.8em;
    position: relative;
    top: -5px; /* Same upward adjustment */
}

